# — Node & package managers
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.yarn/cache/
.pnpm-store/

# — Expo / React Native
.expo/
.expo-shared/
*.expo-settings.json
web-build/               # si vous avez fait expo build:web
metro-cache/
babel.config.js.cache

# — Android
android/.gradle/
android/app/build/
*.apk
*.keystore

# — iOS
ios/Pods/
ios/build/
ios/*.xcworkspace
ios/*.xcuserstate
# (si vous avez un DerivedData local, l’ignorer aussi)

# — Caches, logs & coverage
.cache/
coverage/
.nyc_output/
*.log
.eslintcache

# — TypeScript
*.tsbuildinfo

# — IDE & éditeurs
.vscode/
.idea/
*.suo
*.ntvs*
*.iml

# — OS
.DS_Store
Thumbs.db

# — Fichiers d’env vars
.env
.env.*.local
.local/

# — Fichiers temporaires éditeur
*.swp
*.swo
